// colors
// use map to use the colors
// ex: map-get($color-map, site-primary-color)
$color-map: (
  site-primary-color: #4543B3,
  site-secondary-color: #FAC59F,
  site-tertiary-color: #FEF0D8,
  site-dark-color:  #373046,
  site-alert-color: #B21B28,
  site-warning-color: #ffd477,
  site-info-color: #9ED6E5,
  site-white-color: #FFFFFF,
  site-light-color: #FEF7EB,
  site-grey-color: #d0d0d0,
);
