$md-light-primary-palette: (
  50 : #ebedf7,
  100 : #8fbfcc,
  200 : #83afbb,
  300 : #63868f,
  400 : #486269,
  500 : #506c73,
  600 : #63868f,
  700 : #648368,
  800 : #7ca181,
  900 : #9DC9A3,
  A100 : #e3e6ff,
  A200 : #91b095,
  A400 : #85a98a,
  A700 : #9DC9A3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-light-accent-palette: (
  50 : #ebedf7,
  100 : #8fbfcc,
  200 : #83afbb,
  300 : #63868f,
  400 : #486269,
  500 : #506c73,
  600 : #63868f,
  700 : #648368,
  800 : #7ca181,
  900 : #9DC9A3,
  A100 : #e3e6ff,
  A200 : #91b095,
  A400 : #85a98a,
  A700 : #9DC9A3,

  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-dark-primary-palette: (
  50 : #ebedf7,
  100 : #8fbfcc,
  200 : #83afbb,
  300 : #63868f,
  400 : #486269,
  500 : #506c73,
  600 : #63868f,
  700 : #648368,
  800 : #7ca181,
  900 : #9DC9A3,
  A100 : #e3e6ff,
  A200 : #91b095,
  A400 : #85a98a,
  A700 : #9DC9A3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-dark-accent-palette: (
  50 : #ebedf7,
  100 : #8fbfcc,
  200 : #83afbb,
  300 : #63868f,
  400 : #486269,
  500 : #506c73,
  600 : #63868f,
  700 : #648368,
  800 : #7ca181,
  900 : #9DC9A3,
  A100 : #e3e6ff,
  A200 : #91b095,
  A400 : #85a98a,
  A700 : #9DC9A3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
