<div class="l-container l-container-small">
  <h1 class="title text-light text-center">enparallel.fr</h1>
  <p class="text-light">
    Lorem ipsum dolor sit amet consectetur. Lacus vitae orci metus tempus ultricies. Neque fames sit tempus enim commodo. Lobortis mauris dolor sapien facilisis sit at lorem suspendisse. Ac non sit mattis bibendum nunc imperdiet posuere.
  </p>
  <div class="card mt-5">
    <form>
      <h2 class="subtitle text-primary text-center">Se connecter</h2>

      <input type="text">
      
      <div class="text-center">
        <div class="mb-4">
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
        <a>Je n’ai pas de compte</a>
      </div>
    </form>

  </div>
</div>
